---
http_interactions:
- request:
    method: post
    uri: https://www.bpoint.com.au/evolve/service.asmx
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><env:Envelope xmlns:env='http://schemas.xmlsoap.org/soap/envelope/'
        xmlns:ns0='urn:Eve' xmlns:wsdl='urn:Eve' xmlns:xsd='http://www.w3.org/2001/XMLSchema'
        xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'><env:Body><ns0:ProcessPayment><ns0:txnReq><ns0:MerchantReference>1</ns0:MerchantReference><ns0:CardNumber>5999991669828669</ns0:CardNumber><ns0:Amount>1000</ns0:Amount><ns0:PaymentType>PAYMENT</ns0:PaymentType><ns0:TxnType>ECOMMERCE</ns0:TxnType></ns0:txnReq><ns0:username>[GATEWAY_LOGIN]</ns0:username><ns0:password>[GATEWAY_PASSWORD]</ns0:password><ns0:merchantNumber>[GATEWAY_MERCHANT_NUMBER]</ns0:merchantNumber></ns0:ProcessPayment></env:Body></env:Envelope>
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      Soapaction:
      - urn:Eve/ProcessPayment
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><ProcessPaymentResponse
        xmlns="urn:Eve"><ProcessPaymentResult><ResponseCode>PT_T2</ResponseCode><AuthorisationResult>Payment
        details not found</AuthorisationResult><TransactionNumber>140420919</TransactionNumber><ReceiptNumber>39324010919</ReceiptNumber><MaskedCardNumber>599999...669</MaskedCardNumber><CardType>MC</CardType></ProcessPaymentResult><response><ResponseCode>SUCCESS</ResponseCode></response></ProcessPaymentResponse></soap:Body></soap:Envelope>
  recorded_at: Wed, 11 Dec 2013 21:00:36 GMT
recorded_with: VCR 2.6.0
